.doctor-area {
  padding-top: 50px;
  background: #f5fbff;
}

.doctor-card {
  background: #f8f8ff;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.doctor-card:hover {
  background: #fff;
}

.doctor-card-img {
  padding-top: 60px;
  padding-bottom: 40px;
  max-height: 260px;
}

.doctor-card-body {
  padding: 10px 30px 40px 30px;
}

.doctor-card-body h3 {
  margin-bottom: 8px;
}
